.personData{
    border-style: solid;
    width:23%;
    text-align: center;
    margin: 20px 5px;
    height: 55px;
<<<<<<< HEAD
    padding-bottom: 25px;
=======
    padding-bottom: 5px;
>>>>>>> c8e9496f2b3cd21911fa1375ab2e80a53a557bd1
    padding-top: 5px;
}
.flex-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
#myForm{
    text-align: center;
    font-size: 20px;

}
.form{
    font-size: 15px;
}